.input {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  border: 1px solid #808080
}

.label {
  color: #808080;
  font-size: 16px;
  margin-bottom: 8px;
  text-align: left;
}