.container {
  width: 300px;
  background-color: rgba( 255,255, 255, 0.2);
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
  padding-left: 20px;
  a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    &:hover {
      border-right: 4px solid #fff;
      color: #106f95
    }
  }
}

.active {
  border-right: 4px solid #fff;
  // background-color: re;
  color: #106f95FC !important;
  a {
    color: #106f95FC !important;
  }
}